# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
ANCHOR_PROGRAM_ID=FSenbAEVTgTdfM2723xkk8A2Y5oD8wtmB2EhiWXzpqSg
MERKLE_TREE_ADDRESS=E56FVXmnTqfm7TjmeLJtUdBaB32B5wEQEexFVf3ktB7r
UPGRADE_AUTHORITY_SECRET=[paste base58 secret key here for Phase 1; replaced by TEE key in Phase 4]

# Firebase
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

# Cron
CRON_SCHEDULE=*/60 * * * * *
